body { 
      background-color: white;
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#inbox, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chat {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background-color: wheat;
    height:270px;
    width:430px;
    border: 2px solid  #343F64;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid wheat; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0 }



/* foooter css */
footer{
  background-color:#343F64;
  border-top: 200px solid  white;
  vertical-align: bottom;
  font: normal normal normal 26px/1.4em helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
}
footer table{
  width: 100%;
  height: 150px;
  margin: 2%;
  padding: 20px 10px;
  vertical-align: top;
}
footer table table tr{
  display: block;
}
footer table table tr td{
  min-width: 15%;
  max-width: 500px;
  display: inline-block;
  vertical-align: top;
}
footer table a{
  text-decoration: none;
  color: wheat;
  font-size: 14px;
}
footer table a:hover{
  color: rgb(250, 150, 0);
}
footer table table #cont-us span{
  font-weight: bold;
  font-size: 18px;
}
footer table table #cont-us a{
  text-decoration: underline;
  color: wheat;
}

.footer{
  text-decoration-color: wheat;
  position:fixed;
  top:700px;
  width: 95%;
}
searchText{
  width: 5%;
}

